body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#e0e7ff,#dbeafe);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:25px;
width:450px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

h1{
text-align:center;
color:#2563eb;
}

#chat{
height:330px;
overflow-y:auto;
border:1px solid #eee;
padding:10px;
margin-bottom:10px;
border-radius:10px;
background:#fafafa;
}

.bot{
background:#ecfdf5;
padding:8px;
border-radius:6px;
margin:5px;
font-size:14px;
}

.user{
background:#e0e7ff;
padding:8px;
border-radius:6px;
margin:5px;
text-align:right;
}

input{
width:70%;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

.job{
border:1px solid #eee;
padding:6px;
margin:6px 0;
border-radius:6px;
}

a{
color:#2563eb;
font-weight:bold;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}
